/* GitHub corner */

.github-corner {
	position: absolute;
	left: 0;
	top: 0;
	width: 120px;
	height: 120px;
	overflow: hidden;
}

.github-corner a {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	transform: translate(-50%, -50%) rotate(-45deg);
	color: #000000;
}